---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}

  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">
            <h6 class="text-secondary"> </h6>
          </div>
          {% for category in site.data.category_list %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[category_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ page_category.name }}</h5>
                    <!-- start forloop -->
                    {% assign post_count = 0 %}
                    {% if page.has-subcategories == true %}
                      {% for subcategory in site.data.subcategory_list %}
                        {% capture subcategory_name %}{{ subcategory | first }}{% endcapture %}
                        {% assign page_subcategory = site.data.subcategory_list[subcategory_name] %}  
                        {% if page_subcategory.parent-category contains category_name %}
                          {% assign sub_cat_name = subcategory_name %}
                          {% for post in site.posts %}
                            {% if post.category contains sub_cat_name %}
                              {% assign post_count = post_count | plus: 1 %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for post in site.posts %}
                        {% if post.category contains category_name  %}
                          {% assign post_count = post_count | plus: 1 %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <!-- output -->
                    
                    <p class="m-0">{{ category_name }}: {{ post_count }} article{% if post_count != 1 %}s{% endif %}</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 

          {% include more-help.html %}
        </div>
      </div>
    </div>
