<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
      <header class="container grid-xl landing-header">
        <div class="columns pt-4 pb-2">
          <div class="column col-11 col-mx-auto text-center">
            <div class="avatar-hero mb-4">
              {% if site.profile_image %}
              <img src="{{ site.baseurl }}/assets/{{ site.profile_image }}" alt="{{ site.brand_name }}">
              {% else %}
              {{ site.initials | default: "DR" }}
              {% endif %}
            </div>
            <h1 class="mt-2 super-h1">{{ site.header }}</h1>
            <h4 class="text-secondary" color=$highlight-color>{{ site.subheader }}</h4>
            {% if site.intro %}
            <p class="intro-text mt-2 mx-auto">{{ site.intro }}</p>
            {% endif %}
            <div class="hero-buttons mt-4">
              <a href="{{ site.baseurl }}/my-cv/" class="btn btn-lg btn-outline mx-2 my-1">CV</a>
              <a href="#projects" class="btn btn-lg btn-outline mx-2 my-1">Projects</a>
              <a href="#about" class="btn btn-lg btn-outline mx-2 my-1">About Me</a>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>