{% assign card_category = site.data.subcategory_list[include.post.category] %}
<div class="column {{ include.col_class | default: 'col-4 col-md-6 col-sm-12' }}">
  <a href="{{ site.baseurl }}{{ include.post.url }}" class="project-tile-link">
    <div class="project-tile">
      <div class="project-tile-image"
        {% if include.post.image %}
        style="background-image: url('{{ site.baseurl }}/assets/{{ include.post.image }}');"
        {% endif %}>
        {% unless include.post.image %}
        <i class="uil uil-image project-tile-placeholder-icon"></i>
        {% endunless %}
      </div>
      <div class="project-tile-overlay">
        {% if card_category %}
        <span class="tag-pill">{{ card_category.name }}</span>
        {% endif %}
        <h5 class="project-tile-title">{{ include.post.title }}</h5>
        <p class="project-tile-desc">{{ include.post.short-description }}</p>
      </div>
    </div>
  </a>
</div>
